/data/
/poster_netective/
/test/
/slides/
/Applications/
/netective_old_code/
/results_dummy/
/build/
*.pyc
*.ini
*.pkl
*[Dd]ata/
*.pred
src/netective/stats/GS.txt
requirements-dev.txt
*.png
*.tsv
*.csv
*.R*