/build/
/data/
/poster_netective/
/test/
/slides/
/Applications/
/netective_old_code/
/results_dummy/
/.conda/
/.ipynb_checkpoints/
*.pyc
*.ini
*.pkl
*[Dd]ata/
*.pred
src/netective/stats/GS.txt
requirements-dev.txt
*.png
*.tsv
*.csv
*.R*
src/netective.egg-info/
*gitleaks_report.json
**/*.whl
**/*.gz
